@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.covid-19-bg-container {
    background-color: white;
    border-width: 5px;
    border-color: lightblue;
    border-style: solid;
    background-size: cover;
    padding: 10px;
}

.covid-19-heading {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
}

.button {
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-width: 0px;
    border-radius: 12px;
    width: 85px;
    height: 32px;
}

.image {
    width: 100px;
    height: 90px;
}

.covid-19-test-card {
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
}

.covid-19-test-card-heading {
    color: black;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
}

.covid-19-test-card-paragraph {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
}

.covid-19-image {
    width: 80px;
    height: 55px;
    padding: 9px;
}

.covid-19-symptoms {
    color: black;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
}

.dry-cough-card {
    background-color: #3ebd93;
    height: 95px;
    width: 95px;
    padding: 10px;
    border-radius: 13px;
    margin: 7px;
}

.symptoms-heading {
    color: white;
    font-size: 13px;
    font-family: "Roboto";
    margin: 6px;
}

.high-fever-card {
    background-color: #e668a7;
    height: 95px;
    width: 95px;
    padding: 10px;
    border-radius: 13px;
    margin: 7px;
}

.headache-card {
    background-color: #a368fc;
    height: 95px;
    width: 95px;
    padding: 10px;
    border-radius: 13px;
    margin: 7px;
}