@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #894bca;
    height: 100vh;
}

.image-stats {
    height: 18vh;
}

.favourite-stores-heading {
    font-family: roboto;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    padding: 20px;
}

.card-container-store-page {
    background-color: #ffffff;
    height: 82vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
}

.store-heading {
    font-family: roboto;
    font-size: 16px;
    color: #f780c3;
    font-weight: bold;
}

.text-container {
    padding: 10px;

}

.amazon-heading {
    font-family: roboto;
    font-size: 15px;
    color: #323f4b;
}

.amazon-paragraph {
    font-family: roboto;
    font-size: 12px;
    color: #7b8794;

}

.image-amazon {
    height: 5vh;
}

.amazon {
    margin-left: 15px;
}

.IKEA {
    margin-left: 15px;
}

.Bewakoof {
    margin-left: 15px;
}

.Flipkart {
    margin-left: 15px;
}