@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #875fc0;
    height: 100vh;
}

.score-heading {
    font-family: roboto;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: right;
    padding: 15px;
}

.card-container-questions {
    background-color: white;
    height: 50vh;
    border-radius:5px;
    padding: 15px;
    margin: 25px;
    text-align: center;

}

.card-container-question-heading {
    font-family: roboto;
    font-size: 20px;
    color: #1f2933;
    font-weight: bold;
}

.card-container-question-paragraph {
    font-family: roboto;
    font-size: 15px;
    color: #323f4b;
}

.card-container-image {
    width: 30vw;
}

.card-container-button {
    background-color: white;
    height: 60vh;
   border-radius:5px;
    padding: 15px;
    margin: 25px;
    text-align: center;
}

.container-button {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 16px;
    margin-top: 24px;
    margin-bottom: 23px;

}
.card-stats {
    margin-top: 8px;
    margin-bottom: 8px;
}


.option {
    color: #323f4b;
    background-color: #ffffff;
    font-family: roboto;
    font-size: 16px;
    font-weight: 500;
    border-style: solid;
    border-width: 1px;
    border-color: #323f4b;
    border-radius: 8px;
    padding: 13px;
    margin: 10px;
}

.option-list {
    list-style-type: none;
    padding: 0px;
}

.button {
    color: #ffffff;
    background-color: #fbaf00;
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    width: 98px;
    height: 38px;
    border-width: 0px;
    border-radius: 8px;
}