@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #03174c;
    height: 100vh;
}

.card-container-moon-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-stars-bg.png");
    height: 45vh;
    background-size: cover;
    text-align: center;
    padding: 30px;
}

.music-home-sleep-heading {
    font-family: bree serif;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
}

.music-home-paragraph {
    font-family: bree serif;
    font-size: 12px;
    color: #ffffff;
}

.bg-container-night-island {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png");
    height: 38vh;
    background-size: cover;
    margin-bottom: 5px;
    padding: 20px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;

}

.text-container-night-island {
    font-family: bree serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

.button {
    border-radius: 5px;
    background-color: #8e97fd;
    border-width: 0px;
}

.night-island-card {
    padding: 10px;
    text-align: center;
}

.image-music-detals-page {
    width: 100vw;
}

.text-container-music-details-page {
    padding: 20px;
    background-color: #03174c;
}

.music-nigh-island-heading {
    font-family: bree serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.image-moon-clouds {
    width: 18vw;
}
